@font-face {
  font-family: "Poppins Regular";
  src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Poppins Medium";
  src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Poppins Semibold";
  src: url(../fonts/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: "Poppins Bold";
  src: url(../fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: "Poppins Light";
  src: url(../fonts/Poppins-Light.ttf);
}

* {
  font-weight: 100 !important;
}

body {
  font-family: "Poppins Regular", sans-serif;
  background: #e7e7e7;
  padding-top: 41px;
}

.navbar-container {
  background: #fff;
  box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 50;
}
.ui.menu,
.nav-menu.ui.menu.secondary {
  font-family: "Poppins Regular", sans-serif;
  font-size: 14px;
}

.container-fluid {
  padding: 0 15px;
}

.nav-menu.ui.menu.secondary .item.logo {
  width: 105px;
  overflow: hidden;
  height: 40px;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 0 !important;
  background: url(../images/logo.png) left -11px center no-repeat;
}

.ui.menu .item {
  font-weight: 100;
}

.nav-menu.ui.menu.secondary .item {
  color: #5f5f5f;
  font-size: 13px;
}
.nav-menu.ui.menu.secondary .item:not(.logo):hover {
  background: transparent;
}

.nav-menu.ui.menu.secondary .active.item {
  background: none;
  color: #ff0404;
}

.ui.menu .item > .input.searchbar input {
  background: #e9e9e9;
  border-radius: 5em;
  border: none;
  width: 300px;
  color: #6e6e6e;
  font-family: "Poppins Regular", sans-serif;
  font-weight: 100 !important;
  padding: 5px 10px 5px 40px !important;
  font-size: 12px !important;
  height: 25px !important;
}

.ui.icon.input.searchbar > i.icon {
  background: #d2d2d2;
  border-radius: 100% !important;
  width: 25px;
  height: 25px;
}

.right-panel {
  width: 300px;
  padding-right: 15px;
}

.right-panel .ui.form {
  max-width: 645px;
  width: 100%;
}

.right-panel .ui.tabular.menu {
  justify-content: space-between;
  border-bottom: none;
  margin-bottom: 5px;
  -webkit-box-pack: justify;
  min-height: auto;
  padding-top: 20px;
}

.right-panel .ui.tabular.menu .item {
  border: none;
  font-family: "Poppins Medium", sans-serif;
  color: #414141;
  font-size: 12px;
  min-height: auto !important;
  font-weight: normal !important;
  height: 20px;
  padding: 0;
}

.right-panel .ui.tabular.menu:after {
  display: none;
}

.right-panel .ui.tabular.menu .active.item {
  border: none;
  border-bottom: 3px solid #ff0404;
  background: none;
  color: #ff0404;
}

.right-panel .ui.segment {
  background: transparent;
  padding: 10px 0px;
  border: none;
  margin: 0 !important;
}

hr.red {
  border-top: 2px solid #ff0404;
  height: 0px;
  display: block;
  width: 75%;
  margin: 5px auto 0;
}

.right-panel .ui.form .fields {
  margin-bottom: 0px;
  padding: 0;
}
.right-panel .ui.form .inline.fields {
  margin: 0 0 17px;
}

.right-panel .ui.checkbox label {
  font-size: 10px;
  font-family: "Poppins Regular", sans-serif;
  color: #414141 !important;
  cursor: pointer;
}
.right-panel .ui.checkbox:not(.radio) label {
  padding-left: 2.5em;
}

.ui.checkbox input:checked ~ .box:before,
.ui.checkbox input:checked ~ label:before,
.ui.checkbox input:checked:focus ~ label:before {
  background: #ff0404;
  border-color: #ff0404;
}

.ui.checkbox input:checked ~ .box:after,
.ui.checkbox input:checked ~ label:after,
.ui.checkbox input:checked:focus ~ label:after {
  color: #fff;
}

.ui.checkbox label:before,
.ui.checkbox input:focus ~ label:before {
  border-color: transparent !important;
  background-color: #fff;
}

.ui.radio.checkbox input:checked ~ label:before,
.ui.radio.checkbox input ~ label:before,
.ui.radio.checkbox input:focus ~ label:before,
.ui.radio.checkbox input:focus:checked ~ label:before {
  background-color: transparent;
  border-color: #ff0404 !important;
}
.ui.radio.checkbox input:checked ~ label:after,
.ui.radio.checkbox input:focus:checked ~ label:after {
  background-color: #ff0404;
}

.ui.radio.checkbox input:checked ~ label:before,
.ui.radio.checkbox input ~ label:before,
.ui.radio.checkbox input:focus ~ label:before,
.ui.radio.checkbox input:focus:checked ~ label:before {
  border-color: #ff0404 !important;
  background-color: transparent;
}

.ui.radio.checkbox input:checked ~ label:before,
.ui.radio.checkbox input:focus:checked ~ label:before {
  background-color: #ff0404;
}

.ui.radio.checkbox input:checked ~ label:after,
.ui.radio.checkbox input:focus:checked ~ label:after {
  background-color: #ff0404;
}

.right-panel .ui.form .fields:not(.inline) > .field {
  padding: 0;
}

.right-panel .ui.form .fields > .field > input,
.right-panel .ui.form .fields > .field > .input {
  border: 1px solid transparent;
  color: #6b6b6b;
  text-align: right;
  border-radius: 0;
  height: 44px;
  font-size: 13px;
  padding-left: 8px;
  padding-right: 8px;
  background: #fff;
  font-family: "Poppins Regular", sans-serif;
  border-radius: 8px;
  margin-bottom: 8px;
}

.ui.red.button {
  background: #ff0404;
  font-weight: normal;
  font-family: "Poppins Regular", sans-serif;
}

.right-panel .ui.labeled.input > .label {
  color: rgba(107, 107, 107, 0.5);
  background: #fff;
  border-radius: 0px !important;
  font-family: "Poppins Regular", sans-serif;
  font-size: 13px;
  font-weight: 100 !important;
  line-height: 44px;
  padding: 0;
  text-align: left;
}

.right-panel .ui.labeled.input > .input {
  border-radius: 0;
  border: none !important;
  outline: none;
  font-family: "Poppins Regular", sans-serif;
}

.right-panel .ui.form .fields > .field button.red {
  border: none;
  color: #fff;
  border-radius: 8px;
  height: 44px;
  width: 100%;
}

.right-panel .ui.form .fields .input.input-wrap {
  display: flex;
  align-content: center;
}

.right-panel .ui.form .fields .ui.dropdown {
  border: none;
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  background: transparent;
  text-align: right;
  margin-left: 15px;
}

.ui.selection.dropdown {
  min-width: auto;
  margin-top: 4px;
  flex: 1 1 auto;
  text-align: right;
}
.ui.selection.dropdown input {
  text-align: right;
}

.right-panel .ui.form .full.fields {
  display: block;

  margin-left: 0px;
  margin-right: 0px;
}

.date-range {
  background: #fff url(../images/calender.svg) 12px center no-repeat !important;
}

.departing_from {
  background: #fff url(../images/departure.svg) 12px center no-repeat !important;
}

.going_to {
  background: #fff url(../images/arrival.svg) 12px center no-repeat !important;
}

.passengers {
  background: #fff url(../images/user.svg) 12px center no-repeat !important;
}

.location {
  background: #fff url(../images/location.svg) 12px center no-repeat !important;
}

.mr .location {
  border-right: 0px solid #707070 !important;
  border-radius: 8px !important;
}

.rooms {
  background: #fff url(../images/rooms.svg) 12px center no-repeat !important;
}

.time {
  background: #fff url(../images/clock.svg) 12px center no-repeat !important;
}

.ship {
  background: #fff url(../images/cruise.svg) 12px center no-repeat !important;
}

.content-container {
  position: relative;
  z-index: 1;
}

.flex-wrapper {
  display: flex;
}

.content-panel {
  flex: 1;
  position: relative;
}

.content-panel .top-panel {
  padding-left: 15px;
  padding-right: 25px;
  background: #fff;
  box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 8px 8px;
  margin-left: -15px;
  padding-top: 10px;
}

.content-panel .coverphotowrapper {
  border-radius: 8px;
  overflow: hidden;
}

.content-panel .coverphotowrapper .corner.label {
  z-index: 6;
  transform: rotate(90deg);
  bottom: 0;
  top: auto;
}

.content-panel .corner.label:after {
  border-right-color: rgba(255, 255, 255, 0.7);
}

.content-panel .coverphotowrapper .corner.label i.icon {
  transform: rotate(-90deg);
  cursor: pointer;
}

.content-panel .coverphoto {
  max-width: 100%;
  position: relative;
  z-index: 5;
}

.content-panel .userinfo-wrapper {
  margin-top: -40px;
}

.userinfo {
  display: flex;
  padding-bottom: 20px;
}

.userinfo .bio {
  font-size: 11px;
}

.userinfo .bio .name {
  font-size: 18px;
  color: #4d4d4d;
  font-family: "Poppins Regular", sans-serif;
}

.userinfo .ui.statistics {
  margin: 0;
}

.ui.statistics .statistic > .label {
  font-family: "Poppins Semibold", sans-serif;
  font-size: 10px !important;
  text-transform: capitalize;
}

.userinfo-wrapper .ui.statistics .statistic > .value {
  font-family: "Poppins Semibold", sans-serif;
  font-size: 15px !important;
}

.userinfo-wrapper .profile-image {
  width: 150px;
  height: 150px;
  border: 5px solid #fff;
  border-radius: 100%;
  background: url(https://semantic-ui.com/images/avatar2/large/elyse.png)
    center/cover no-repeat;
  position: relative;
  overflow: hidden;
}

.upload-profile-img {
  height: 22px;
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  height: 22px;
  bottom: 0px;
  left: 0;
  right: 0;
  border: none;
  outline: none;
  cursor: pointer;
}

.userinfo-wrapper .profile-image img {
  max-width: 100%;
}
.userinfo-wrapper {
  display: inline-block;
  position: relative;
  padding-right: 60px;
}

.content-panel .top-panel .userinfo-wrapper:before {
  content: "";
  background: rgba(236, 236, 236, 0.72);
  position: absolute;
  left: 0;
  right: 0;
  top: -150px;
  bottom: 0;
  border-radius: 140px;
  z-index: 4;
}

.userinfo-wrapper .ui.items {
  margin: 0;
  z-index: 6;
  position: relative;
}

.ui.tabular.menu .active.item,
.ui.tabular.menu {
  border: none;
  border-radius: 0;
}

.top-panel .ui.tabular.menu .item {
  font-family: "Poppins Semibold", sans-serif;
  font-size: 15px;
  color: #5f5f5f;
}

.top-panel .ui.tabular.menu .active.item {
  color: #ff0404;
}

.content-panel .bottom .ui.grid {
  margin: 0px;
}

.content-panel .ui.segment {
  background: none;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  padding-left: 0;
  padding-right: 0;
}

.post-container {
  margin-top: 20px;
}

.post-wrapper {
  padding: 30px 25px 50px;
  background: #fff;
  border-radius: 8px;
  position: relative;
}

.showhidecomments {
  width: 150px;
  height: 33px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -75px;
  background: #f5f5f5;
  font-size: 12px;
  text-align: center;
  color: #4d4d4d;
  border: none;
  outline: none;
  border-radius: 8px 8px 0 0;
  font-family: "Poppins Regular", sans-serif;
  cursor: pointer;
}

.bottom .post-wrapper {
  margin-right: -15px;
}

.post-container {
  margin-top: 20px;
}

.post-wrapper .column > img {
  width: 100%;
  height: 200px;
}

.post-wrapper .grid > .column {
  padding: 0 !important;
  font-size: 0;
  height: 200px;
}

.post-wrapper .grid > .column > i.icon {
  position: absolute;
  color: #fff;
  font-size: 51px;
  left: 50%;
  top: 50%;
  margin-left: -30px;
  margin-top: -15px;
}

.post-wrapper .grid > .column .viewmore {
  position: absolute;
  top: 1px;
  left: 0;
  right: 0;
  bottom: 1px;
  background: rgba(92, 92, 92, 0.8);
  color: #fff;
  line-height: 200px;
  text-align: center;
  font-size: 14px;
}

.post-wrapper .ui.grid {
  margin: 0;
}

.post-wrapper .ui.tiny.image {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  margin-top: 15px;
}

.album-name {
  display: inline-block;
  font-size: 12px;
  color: #5f5f5f;
  margin-top: 20px;
}

.album-name span {
  font-family: "Poppins Semibold", sans-serif;
  font-size: 14px;
  color: #5f5f5f;
}

.ui.comments .comment .avatar img {
  border-radius: 100%;
}

.ui.comments {
  margin: 0;
  max-width: 100%;
}

.album-details {
  font-size: 11px;
  padding: 25px 0 10px;
}

.comments-count {
  font-size: 13px;
  padding: 10px 0;
}

.add-comment {
  width: 100%;
}

.add-comment.ui.input > input {
  background: #e7e7e7;
  border-radius: 8px !important;

  border: none;
}

.add-comment.ui.input > .ui.red.button {
  margin-left: 10px;
  border-radius: 8px !important;
}

.actions svg {
  vertical-align: middle;
}

.actions .reply {
  color: #ff0404 !important;
  padding-top: 5px;
}

.ui.comments .comment .comments {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.content-panel .post-date {
  font-size: 11px;
  color: #aeaeae;
  padding-right: 15px;
}

.content-panel .post-date:before {
  border-right: 3px dotted #b9b9b9;
  position: absolute;
  top: 32px;
  bottom: -15px;
  right: 0;
  content: "";
}

.content-panel .post-date:after {
  width: 13px;
  height: 13px;
  top: 15px;
  right: -5px;
  border-radius: 100%;
  content: "";
  background: #b9b9b9;
  position: absolute;
}

i.chevron.circle.left.icon {
  font-size: 30px;
  color: #ff0404;
  margin-top: 6px;
  cursor: pointer;
}

.likes-n-share {
  float: right;
  margin-top: 20px;
}

.likes-n-share img {
  max-width: 15px;
  vertical-align: middle;
  margin-right: 3px;
  font-size: 0px;
}

.likes-n-share .options {
  height: 20px;
  margin-right: 0px;
  width: 5px;
}

.post-wrapper.album-view {
  padding: 30px 10px 50px;
}

.post-wrapper.album-view .grid > .column > i.icon {
  font-size: 27px;
  margin-left: -12px;
  margin-top: -12px;
}

.post-wrapper.album-view > .grid > .column {
  height: auto;
  padding: 0px 0px 10px !important;
  margin: 0 13px;
  width: calc(33.33333333% - 26px) !important;
}

.post-wrapper .shadow {
  box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.16);
  border: 1px solid white;
}

.post-wrapper.album-view .column > img {
  height: 65px;
}
.post-wrapper.album-view .grid > .column .grid > .column {
  height: 65px;
  padding: 0 !important;
  border: 1px solid #fff;
  overflow: hidden;
}

.album-view .album-details,
.album-view .album-name {
  padding: 0 10px;
}

/* home */
.post-wrapper.home {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding-top: 0px;
}

.post-wrapper.album-view > .grid > .column {
  margin: 0 7px;
  width: calc(33.33333333% - 14px) !important;
}

.post-wrapper.album-view .ui.tiny.image {
  margin: 20px 0 0 0px;
  width: 30px;
  height: 30px;
}

.ui.vertical.menu.leftmenu {
  background: none;
  width: 275px;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  position: relative;
}

.leftmenu .userinfo-wrapper .profile-image {
  width: 80px;
  height: 80px;
  border: none;
}

.leftmenu .userinfo .bio .name {
  font-size: 14px;
  font-family: "Poppins Semibold", sans-serif;
}

.leftmenu .ui.items > .item > .image + .content {
  padding-left: 15px;
  flex: 1;
}

.leftmenu .userinfo-wrapper {
  padding: 0;
}

.leftmenu.ui.vertical.menu .userinfo-wrapper .item {
  display: flex;
  flex-wrap: wrap;
}

.leftmenu .ui.statistics {
  display: flex;
  padding: 0 1.5em;
  justify-content: space-between;
  flex: 1 1 100%;
}

.leftmenu .ui.statistics:after {
  display: none;
}

.leftmenu .ui.statistics .statistic > .label {
  font-size: 10px;
  margin: 5px 0 10px;
  text-align: left;
}

.leftmenu .userinfo-wrapper .ui.statistics .statistic > .value {
  font-size: 15px;
}

.leftmenu .ui.statistics > .statistic {
  margin: 0;
}

.leftmenu .userinfo {
  line-height: 1.3;
  padding-bottom: 0;
}

.leftmenu.ui.vertical.menu .menu .item {
  font-size: 12px;
  font-weight: 100;
  color: #4d4d4d;
  font-family: "Poppins Regular", sans-serif;
}

.leftmenu.ui.vertical.menu .menu .item span {
  color: #ff0404;
  font-size: 10px;
}

.leftmenu.ui.vertical.menu .menu .active.item {
  font-family: "Poppins Semibold", sans-serif;
}

.leftmenu.ui.vertical.menu .menu .item:hover:not(.active):not(.group) {
  color: #000;
}

.leftmenu.ui.vertical.menu .menu .item .ui.icon {
  max-width: 18.5px;
  vertical-align: middle;
}

.leftmenu.ui.vertical.menu .menu .itema.active .ui.icon {
  margin-right: 10px;
}

.leftmenu.ui.vertical.menu .item:before {
  display: none;
}

.leftmenu.ui.vertical.menu .item .header {
  border-bottom: 1px solid #ff0404;
  padding-bottom: 10px;
  position: relative;
}

.leftmenu.ui.vertical.menu .item button.right {
  border: none;
  background: none;
  color: #ff0404;
  position: absolute;
  font-family: "Poppins Semibold", sans-serif;
  font-size: 30px;
  border: none;
  outline: none;
  bottom: 0px;
  right: 0;
  height: 30px;
  line-height: 30px;
}

.leftmenu.ui.vertical.menu.leftmenu .group .image {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  overflow: hidden;
  float: left;
  background: url(https://semantic-ui.com/images/wireframe/image.png) center
    no-repeat;
  margin-right: 7px;
}

.leftmenu.ui.vertical.menu.leftmenu .item.group {
  font-size: 10px;
  position: relative;
}
.leftmenu.ui.vertical.menu.leftmenu .item.group .name {
  display: inline-block;
  font-family: "Poppins Semibold", sans-serif;
  font-size: 12px;
  padding-bottom: 3px;
}

.leftmenu.ui.vertical.menu.leftmenu .item.group button.right {
  bottom: 5px;
  right: 15px;
}

.home h3 {
  font-weight: 100;
  font-family: "Poppins Medium";
  font-size: 16px;
  padding: 18px 7px 10px;
  margin: 0;
}

.right-floated {
  float: right;
}

i.icon {
  color: #5b5b5b;
}

i.icon .small {
  font-size: 15px;
}

.upload-div {
  font-size: 16px;
  font-family: "Poppins Regular";
  text-align: center;
  background: #e9e9e9;
  border: 1px dashed #707070;
  height: 160px;
  margin: 0 7px 20px;
}

.collapse-menu {
  position: absolute;
  top: 10px;
  right: -5px;
  cursor: pointer;
  z-index: 15;
}

.leftmenu.collapse {
  width: 82px !important;
}

.leftmenu.collapse .content,
.leftmenu.collapse .ui.statistics,
.leftmenu.collapse .grouplinks,
.leftmenu.collapse .header,
.leftmenu.collapse.ui.vertical.menu .menu .item span,
.leftmenu.collapse hr.red {
  display: none !important;
}

.leftmenu.collapse.ui.vertical.menu .menu .item {
  font-size: 0px;
  color: transparent;
}

.leftmenu.collapse.ui.vertical.menu .menu .item img {
  display: block;
  margin: 10px auto;
}

.leftmenu.collapse .userinfo-wrapper {
  margin: 0 auto;
  display: block;
}

.leftmenu.collapse .userinfo-wrapper .profile-image {
  height: 35px;
  width: 35px;
  margin: 60px auto 10px;
}

.collapse .collapse-menu {
  right: 26px;
  transform: rotate(180deg);
}

.ui.vertical.menu.collapse > .item {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

/* on borading */
.onboarding {
  background: url(../images/onboardingbg.jpg) left bottom -50px/100% no-repeat;
  padding: 5px 15px;
  height: calc(100vh - 40px);
}

.onboarding-form {
  background: #fff;
  min-height: calc(100vh - 60px);
  padding: 35px 15px;
  width: 100%;
  max-width: 520px;
  margin: 0 auto;
}

h2 {
  font-size: 21px;
  color: #414141;
}

.input-dp {
  width: 155px;
  height: 155px;
  border-radius: 100%;
  background: #e9e9e9 url(../images/upload.svg) top 10px center no-repeat;
  text-align: center;
  color: #4d4d4d;
  border: 2px dashed #707070;
  overflow: hidden;
  position: relative;
  margin: 30px auto;
  font-size: 8px;
  padding: 65px 20px 10px;
  line-height: 1.2;
}

.input-dp input {
  height: 200px;
  width: 200px;
  opacity: 0;
  position: absolute;
}
